<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label>Seu nome</label>
        <input type="text" name="nome" id="nome" required />

        <label>Email</label>
        <input type="email" name="email" id="email" required /> 

        <label>Senha</label>
        <input type="password" name="senha" id="senha" required />
        
        <input type="submit" name="btnEnviar" id="btnEnviar" value="Enviar"/>
    </form>
</body>
</html>